body{
    font-family: sans-serif;
}
.container12{
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: row;
    border-radius: 7px 7px 0px 0px;
    
}

.fa-angle-left,.fa-angle-right{
   font-size: x-large;
    color:white;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;    
}
.p20{
    font-size: larger;
    color: rgb(144, 144, 144);
    margin-top: 17px;
    margin-left: 300px;
    font-weight: bold;
}
.p20:hover{
    color: white;
}
.p2{
    font-weight: bolder;
}
.p1:hover{
    color: white;
}
#btn2{
    margin-left: 40px;
    margin-top: 10px;
    width: 100px;
    border-radius: 20px;
    height: 40px;
    border: none;
}
.browse{
    font-size:23px;
    font-weight:800;
    color: white;
    margin-top: 15px;
    margin-left: 37px;
}
#input2{
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1.5px;
    background-color: rgb(39, 39, 39);
}
::placeholder{
    padding: 10px;
}
.container13{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 15px;
}
.container14{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 15px;
}
.container15{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     margin-left: 30px;
     margin-top: 15px;
     margin-bottom: 30px;
}
.song1{
    height: 230px;
    width: 210px;
    background-color: brown;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song2{
    height: 230px;
    width: 210px;
    background-color: blueviolet;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song3{
    height: 230px;
    width: 210px;
    background-color: rgb(24, 68, 24);
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song4{
    height: 230px;
    width: 210px;
    background-color: indianred;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song5{
    height: 230px;
    width: 210px;
    background-color: rgb(42, 108, 165);
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song6{
    height: 230px;
    width: 210px;
    background-color:burlywood;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song7{
    height: 230px;
    width: 210px;
    background-color:chocolate;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song8{
    height: 230px;
    width: 210px;
    background-color:rgb(221, 26, 117);
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song9{
    height: 230px;
    width: 210px;
    background-color:darksalmon;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song10{
    height: 230px;
    width: 210px;
    background-color:crimson;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song11{
    height: 230px;
    width: 210px;
    background-color:grey;
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.song12{
    height: 230px;
    width: 210px;
    background-color:rgb(52, 89, 99);
    border-radius: 7px;
    padding-top: 15px;
    margin-left: 15px;
    margin: 7px;
}
.title{
    font-size: larger;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 10px;
}