body{
    font-family: sans-serif;
}
.musiccontainet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fa-forward{
    margin-top: 20px;
    margin-left: 50px;
    color: white;
    font-size: 29px;

}
.pause{
    margin-top: 20px;
    color: white;
    font-size: 30px;
    margin-left: 50px;
}
.fa-backward{
    margin-top: 20px;
    color: white;
    font-size: 29px;
    margin-left: 45%;
}